.container {
    display: flex;
    border-radius: 8px;
    background: var(--cinza-500);
    padding: 1rem;
    align-items: center;
    margin-bottom: 0.75rem;
    line-height: 140%;
}

.container button {
    background-color: transparent;
    height: 2rem;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.status {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 0.75rem;
}

.status img {
    width: 2.3rem
}

.apagar {
    color: var(--cinza-300);
    margin-left: 0.75rem;
    transition-duration: 0.1s;
}

.apagar:hover {
    color: var(--perigo);
    background-color: var(--cinza-400);
}

.flexionado {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p {
    line-height: 140%;
    font-size: 0.875rem;
    font-weight: 400;
}