.pesquisa {
    position: absolute;
    left: 50%;
    top: 12.5rem;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    width: 46rem;
}

.pesquisa > input {
    flex: 1;
    border: 1px solid var(--cinza-700);
    border-radius: 8px;
    background-color: var(--cinza-500);
    padding: 1rem;
    align-items: center;
    color: white;
    line-height: 140%;
    font-weight: 400;
    outline: 0;
}

.pesquisa > input::placeholder {
    color: var(--cinza-300);
}

.pesquisa > input:focus {
    border: 1px solid var(--roxo-escuro);
}

.pesquisa > button {
    padding: 1rem;
    background-color: var(--azul-escuro);
    color: var(--cinza-100);
    border: 0;
    border-radius: 8px;
    font-weight: 700;
    line-height: 140%;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
}

.pesquisa > button:hover {
    background-color: var(--azul);
}

.pesquisa > button svg {
    margin-left: 0.5rem;
}

@media (max-width: 768px) {
    .pesquisa {
        width: 90%;
    }
}

.container {
    width: 100%;
    margin-top: 5rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.info > .one {
    color: var(--azul);
    font-size: 0.875rem;
    font-weight: 700;
}

.info > .one > span {
    background-color: var(--cinza-400);
    color: white;
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    border-radius: 100px;
}

.info > .two {
    color: var(--roxo-claro);
    font-size: 0.875rem;
    font-weight: 700;
}

.info > .two > span {
    background-color: var(--cinza-400);
    color: white;
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    border-radius: 100px;
}
/*
.resutados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border-top: 1px solid var(--cinza-400);
    width: 100%;
    padding-top: 4rem;
    margin: 0 auto;
}

.primeiro {
    margin-top: 1rem;
    font-weight: 700;
    line-height: 140%;
}

.segundo {
    font-weight: 400;
    font-weight: lighter;
}
*/