.resutados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    border-top: 1px solid var(--cinza-400);
    width: 100%;
    padding-top: 4rem;
    margin: 0 auto;
}

.primeiro {
    margin-top: 1rem;
    font-weight: 700;
    line-height: 140%;
}

.segundo {
    font-weight: 400;
    font-weight: lighter;
}